/* Styles globaux */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Fond blanc */
    color: #121212; /* Couleur du texte noir */
}

/* Formulaire de connexion */
#FormConn {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: #f8f8f8; /* Fond du formulaire clair */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#Title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px; /* Taille de police agrandie pour le titre */
    color: #121212; /* Couleur du titre */
}

/* Styles pour les champs de saisie */
input[type="text"],
input[type="password"],
input[type="button"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Bordure plus claire */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #ffffff; /* Fond des champs de saisie */
    color: #121212; /* Couleur du texte */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #28a745; /* Couleur de la bordure au focus */
    outline: none; /* Retire le contour par défaut */
}

/* Styles pour le bouton de soumission */
input[type="button"] {
    background-color: #28a745; /* Couleur verte */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Ajout de transition pour le transform */
}

input[type="button"]:hover {
    background-color: #218838; /* Couleur verte foncée au survol */
    transform: scale(1.05); /* Léger agrandissement au survol */
}

/* Dashboard utilisateur */
#Name {
    text-align: center;
    margin-top: 20px;
    font-size: 20px; /* Taille de police agrandie pour le nom */
    color: #121212;
}

#ration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    width: 50%;
}

/* Styles pour le bouton de déconnexion */
#delog {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745; /* Couleur verte */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Ajout de transition pour le transform */
}

#delog:hover {
    background-color: #218838; /* Couleur verte foncée au survol */
    transform: scale(1.05); /* Léger agrandissement au survol */
}

/* Styles pour les SVG */
#ringsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    width: 75%;
}

/* Styles supplémentaires */
h1, h4, p {
    margin: 0;
    padding: 0;
    color: #121212; /* Couleur noire pour les textes */
}

/* Styles pour le message d'erreur */
#ErrorMessage {
    margin-top: 10px; /* Espacement au-dessus du message d'erreur */
    font-size: 14px; /* Taille de la police du message d'erreur */
    color: #dc3545; /* Rouge pour le message d'erreur */
}
